* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    --mainTransition: all 0.3s linear;
    --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
    --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  }
  /* Body kezdete */
  body {
    padding-top: 66px;
    color: #222;
    background: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.4;
  }
  h1 {
    font-size: 3em;
    line-height: 1;
    margin-bottom: 0.5em;
  }
  h2 {
    font-size: 2em;
    margin-bottom: 0.75em;
  }
  h3 {
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1em;
  }
  h4 {
    font-size: 1.2em;
    line-height: 1.25;
    margin-bottom: 1.25em;
  }
  h5 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em;
  }
  h6 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em;
  }
  
  .btn-primary {
    display: inline-block;
    text-decoration: none;
    letter-spacing: 3px;
    color: #222;;
    background: #af9a7d;
    padding: 0.4rem 0.9rem;
    border: 3px solid #af9a7d;
    transition: var(--mainTransition);
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  .btn-primary:hover {
    background: transparent;
    color: #af9a7d;
  }
  .loading {
    text-transform: capitalize;
    text-align: center;
    margin-top: 3rem;
  }
  .error {
    text-align: center;
    text-transform: uppercase;
    margin: 2rem 0;
  }
  .empty-search {
    text-align: center;
    text-transform: capitalize;
    margin: 2rem 0;
    padding: 1rem;
    letter-spacing: 3px;
  }
  /* Body vége */


  /* Navbar kezdete */
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.75rem 2rem;
    background: #af9a7d;
    z-index: 1;
  }
  .nav-header {
    display: flex;
    justify-content: space-between;
  }
  .nav-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }
  .nav-icon {
    font-size: 1.5rem;
    color: #f7f7f7;
  }
  .nav-links {
    height: 0;
    overflow: hidden;
    transition: var(--mainTransition);
    list-style-type: none;
  }
  .nav-links a {
    display: block;
    float: right;
    text-decoration: none;
    padding: 1rem 0;
    color: #222;;
    transition: var(--mainTransition);
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 3px;
  }
  .nav-links a:hover {
    color: #f7f7f7;
  }
  
  .show-nav {
    height: 280px;
  }
  @media screen and (min-width: 768px) {
    .nav-btn {
      display: none;

    }
    .nav-center {
      max-width: 1700px;
      margin: 0 auto;
      display: flex;
    }
    .nav-links {
      height: auto;
      display: flex;
      margin-left:30rem;
    }
    .nav-links a {
      margin: 0 1rem;
      padding: 0.5rem 0;
      display: flex;
    }
  }
  /* Navbár vége*/


  /* Hero oldal */
  .defaultHero,
  .roomsHero, .promotionsHero, .contactHero {
    min-height: calc(100vh - 66px);
    background: url("images/background.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .roomsHero{
    background-image: url("images/background2.jpg");
    min-height: 70vh;
  }
  .promotionsHero{
    background-image: url("images/sale.jpg");
    min-height: 70vh;
  }
  .contactHero{
    background-image: url("images/contact.jpg");
    min-height: 70vh;
  }
  /* Hero oldal vége */

  /* Banner */
.banner {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 3px;
}
.banner h1 {
  font-size: 2.5rem;
}
.banner div {
  width: 10rem;
  height: 5px;
  background: #af9a7d;
  margin: 1.7rem auto;
}
.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }
  .banner h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
}
/* Banner vége */

  /* Title */
  .section-title {
    text-align: center;
    margin-bottom: 4rem;
  }
  .section-title h4 {
    font-size: 2rem;
    letter-spacing: 3px;
    text-transform: capitalize;
    margin-bottom: 1rem;
  }
  .section-title div {
    width: 5rem;
    height: 5px;
    margin: 0 auto;
    background: #af9a7d;
  }
  /* Title vége */
  

/*card*/
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #af9a7d;
    min-width: 300px;
    height: 500px;
    border-radius: 5px;
    margin: 5px;
}

.card > h1 {
  justify-self: flex-start;
}

/*login-register form*/
.login-register-container{
  width: 400px;
  background-color: white;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 10px;
}

.login-register-text{
  text-align: center;
}

.login-register-input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.register, .register a{
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}
.register a{
  color: #af9a7d;
  font-weight: bold;
  text-decoration: none;
}
.btn-primary-login-register{
  display: inline-block;
    text-decoration: none;
    letter-spacing: 3px;
    color: #222;;
    background: #af9a7d;
    padding: 0.4rem 0.9rem;
    border: 3px solid #af9a7d;
    transition: var(--mainTransition);
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.btn-primary-login-register:hover {
  background: transparent;
  color: #af9a7d;
}
.button-flex{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  }
/*login-register form vége*/

/*Footer*/
.footer {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  background-color: #af9a7d;
}

.footer-social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.footer-social-media-icon {
  margin: 0px 4px;
  width: 25px;
  height: 25px;
}

.footer-info  {
  display: flex;
  justify-content: center;
}

.footer-info-left, .footer-info-center, .footer-info-right {
  font-size: x-small;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 30%;
}

.footer-info-name, .footer-info-email, .footer-info-number {
  margin-bottom: 10px;
}

.footer-info-name, .footer-info-returns {
  text-align: start;
}

.footer-info-email, .footer-info-terms {
  text-align: center;
}

.footer-info-number, .footer-info-contact {
  text-align: end;
}

.footer-date {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-seperator {
  flex-grow: 1;
  border: none;
  height: 1px;
  background-color: #af9a7d;
  width: 100%;
}

.footer-name {
  display: flex;
  justify-content: center;
}

.footer-bottom-name {
  text-transform: uppercase;
  font-family: RobotoBold;
  font-size: large;
}
/*Footer vége*/
